<?php

return array(
    'selligent' => array(
        /**
         * Login and password for Selligent automation user
         */
        'login' => '',
        'password' => '',
        /**
         * Specify your Selligent client id for soap client
         */
        'clientId' => '',
        /**
         * Specify your Selligent lists
         *
         * first in array will be used as default
         * others can be set with setListId() in controller
         *
         * Accepted values: array
         */
        'list' => array(
            'list-name' => array(
                /**
                 * Specify your Selligent list id
                 *
                 * Accepted values: integer
                 */
                'listId' => 123,
            ),
        ),
    )
);