<?php

return array(
    'selligent' => array(
        /**
         * Specify your Selligent list id.
         * - skyradio      339
         * - radioveronica 340
         * - classicfm     341
         * - skyradiogroup 342
         */
        'listId' => ''
    )
);