<?php

return array(
    'selligent' => array(
        /**
         * Login and password for Selligent automation user
         */
        'login' => '',
        'password' => '',
        /**
         * Specify your Selligent client id for soap client
         */
        'clientId' => '',
        'listId' => ''
    )
);